<!DOCTYPE html>
<html>
<head>
    <title>Attendance List</title>
</head>
<body>
    <h1>Attendance List</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Attendance</button>
    </form>
    <ul>
        {% for attendance in attendance_records %}
            <li>Student: {{ attendance.student.name }} - Class: {{ attendance.class_attended.name }} - Date: {{ attendance.date }} - Present: {{ attendance.present }}</li>
        {% endfor %}
    </ul>
</body>
</html>
